<!--"hello from Brilliant Ideas 2"-->
<div id="calculators" class="image-responsive">
    <div id="enigma-form" class="row form-inline">
        <form class="col-xs-12  form-group" ng-submit="bcc.cal(bcc.newExpression)">

            <div id="dropdown" class="selector">
                <label for="dropdown">Select a Conversion</label>
                <select class="form-control" ng-model="bcc.operation">
        <option value="inches-to-feet">Inches to Feet</option>
        <option value="feet-to-inches">Feet to Inches</option>
        
        <option value="miles-to-kilometers">Miles to Kilometers</option>
        <option value="kilometers-to-miles">Kilometers to Miles</option>
        
        <option value="pounds-to-kilos">Pounds to Kilograms</option>
        <option value="kilos-to-pounds">Kilograms to Pounds</option>
        
        <option value="fahrenheit-to-celcius">Fahrenheit to Celcius</option>
         <option value="celcius-to-fahrenheit">Celcius to Fahrenheit</option>
        
        </select>



                <input type="text" placeholder="Enter a Number" class="form-control" ng-model="bcc.newExpression">
        </form>
        <div class="enterbtn">
            <input type="submit" value="" class="imgClass" />
        </div>


        <!--<input type="submit" value=""  class="imgClass"/> -->


        <div class="row answer">
            <div id="answer" class="col-xs-4 col-xs-offset-4">
            <span>Result: {{bcc.result}}</span>
        </div>
        </div>

        </div>