<div id="ideaList" class="image-responsive">
    <div id="pad-row" class="row">
    <div class="col-xs-12" id="pad">
        <div id="form-pad" style="height: 656px; width: 507px;">
            <form class="brilliantIdea-form form form-inline" ng-submit="bc.addIdea(bc.newIdea)">
                <input placeholder="Brilliant Idea" class="form-control" type="text" ng-model="bc.newIdea.idea">
                <input placeholder="Due Date" class="form-control" type="text" ng-model="bc.newIdea.dueBy">
                <button type="submit" class="btn btn-default">Add</button>
            </form>
            <div id="note-pad">
                    <h2>Brilliant Ideas....</h2>
                <div id="ScrollStyle">
                    <ul class="brilliant-list">
                        <li ng-repeat="idea in bc.ideaList" ng-click="bc.toggleIdeaState(ideaList)" ng-class="{'strike': idea.completed}">
                            {{idea.idea}}:- {{idea.dueBy | date:'GGGG'}}
                            <span class="badge" ng-click="bc.removeIdea($index)">X</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>