<div class="main-calculator">
   <div ng-show="mc.activeView === 'calculators'">
            <div ng-controller="CalculatorController1 as cc1" ng-show="mc.showing === 1">
                <form class="form form-inline" ng-submit="cc.addResult(cc.newResult)">
                <input placeholder="Amount" class="form-control" type="number" ng-model="a">
                <input placeholder="Amount" class="form-control" type="number" ng-model="b">
                <input placeholder="Amount" class="form-control" type="number" ng-model="c">
                <!--<input placeholder="Photo Url" class="form-control" type="text" ng-model="mc.newTask.photo">-->
                <button type="submit" class="btn btn-default">Add</button>
                <button type="reset" class="btn btn-default">Clear</button>
            </form>
                <p>
                    
                        <a img=src"app/img/Pounds to Kilo.png"></a>
                        <a img=src"app/img/Miles.png"></a>
                        <a img=src"app/img/loanPayment.png"></a>
                        <a img=src"app/img/inches feet.png"></a>
                        <a img=src"app/img/fahren.png"></a>
                      
                </p>
                    <select ng-model="operator">
                   
                        <option >Miles to Kilometers</option>
                        <option>Fahrenheit & Celsius</option>
                        <option>Pounds & Kilograms</option>
                        <option>Inches in Foot</option>
                        <option>Loan Payments</option>
                    </select>
                    
                <!--<p><button type="submit" class="btn btn-default">Enter</button>
                <button type="reset" class="btn btn-default">Clear</button></p>-->
            </div>
         
        </div>
 
    
    
</div>