      <div class="grocery-container image-responsive">
            <form class="grocery-form form-inline" ng-submit="gc.addItem(gc.newItem)">
                <input placeholder="Item" class="form-control" type="text" ng-model="gc.newItem.item">
                <input placeholder="Quantity" class="form-control" type="text" ng-model="gc.newItem.quantity">
                <input placeholder="Price" class="form-control" type="text" ng-model="gc.newItem.price">
                <input placeholder="Photo Url" class="form-control" type="text" ng-model="gc.newItem.photo">
                <button type="submit" class="btn btn-default">Add</button>
            </form>
        
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center ScrollStyle">
                <h2>Grocery List..</h2>
                <ul class="groceryList">
                    <li ng-repeat="item in gc.list" ng-click="gc.toggleItemState(item)" ng-class="{'strike': item.purchased}">
                        {{item.item}}: {{item.quantity}}- {{item.price}}<br>{{item.photo}}
                        <span class="badge" ng-click="gc.removeItem($index)">X</span>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        
<div ng-app="" ng-init="quantity=1;cost=5">
<p>Total in dollar: {{ quantity * cost }}</p>
</div>
